*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    
}

.header {
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    padding: 20px 12%;
    background: rgb(33, 1, 36);
    backdrop-filter: blur(10px);
    display:flex;
    justify-content: space-between;
    align-items: center;
   
}
section{
    padding: 1rem 7% ;
} 


.logo{
    font-size: 20px;
    color: white;
    font-weight: 600;
    transition: 0.3s ease;
    
}
.logo:hover{
    color: orangered;
    text-shadow:0 0 25px orangered,0 0 50px orangered;
    transform: scale(1.1);
}

span{
    color: orangered;
}

.navbar a{
    font-size: 15px;
    color:rgb(231, 214, 214);
    font-weight: 500px;
    margin: 0 20px;
    border-bottom: 3px solid transparent;
    transition: 0.3s ease;
    
}
.navbar a:hover,
.navbar a:active{
    color:orangered;
    border-bottom: 3px solid orangered;
}



/* -------------------------------------home page------------------------- */

 .search button{
    
        padding: 6px 10px;
        margin-top: 8px;
        
        background: #ddd;
        font-size: 17px;
        border: none;
        cursor: pointer;
      }

      .search input{
        float: right;
        padding: 6px 10px;
        margin-top: 8px;
        margin-right: 700px;
        background: #ddd;
        font-size: 17px;
        border: none;
        cursor: pointer;
      }
      
      .search button:hover {
        background: #ccc;

      }
 



.home{
    min-height: 100vh;
    display: flex;
    align-items: center;
    padding-bottom: 100px;
    background-image: url(images/ce-2.jpg);
    background-size:cover;
    background-position: center;
    

}
.btn{
    
    font-size: 15px;
    color: rgb(10, 93, 166);
    cursor: pointer;
    padding: 15px;
    background-color: aqua;
    border: 1px solid black;
    border-radius: 5px;
    margin-left: 80px;
    width: 17%;
    
}
.btn:hover{
    transform: scale(1.1);
}


.content h3{
    color: rgb(241, 229, 229);
    font-size: 50px;
    
}
.content p{
    color: rgb(245, 242, 240);
    margin-top: 40px;
    margin-right: 80%;
    font-weight: bold;
    text-align: justify;
    width: 50%;
    font-size: 20px;
}
.content a{
    margin-top: 10px;
}


/* footer */
.footer{
    
    width: 100%;
    height: 300px;
    background-color:rgba(13, 55, 205, 0.505);
    color: white;
    bottom: 0;
    text-decoration: none;
    
}
.footer-content{
    display: flex;
    
    
    padding-top: 30px;
}
.subscribe{
    padding-left:100px;
}
.subscribe input{
    width: 50%;
}
#news{
    text-align: justify;
    width: 50%;
    line-height: 1.5;
}
#sub-btn{
    padding: 15px;
    background-color: rgba(17, 0, 255, 0.532);
    color: white;
    border: none;
    align-items: center;
}
.input-email{
    border: none;
}




/* ----------------about----------- */
/* .heading{
    text-align: center;
    color: white;
    text-transform: uppercase;
    padding-bottom: 3.5rem;
    font-size: 4rem;
}
.heading span{
    color: var(--main--color);
    text-transform: uppercase;
}
.about{
    min-height: 100vh;
    align-items: center;
    padding-bottom: 100px;
    
}
.image{
    padding-top: 100px;
    
}
.content{
    display: flex;
} */

.about{
    display: flex;
    margin-top: 150px;
    
}

.abt-heading{
    color: white;
    font-size: 50px;
    margin-left: 30px;
}

.image{
    margin-right: 70px;
}
.start{
    margin-left: 50px;
    margin-top: 30px;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#para{
    margin-top: 20px;
    margin-left: 70px;
    margin-right: 20px;
    color: rgb(11, 11, 11);
    border: 1px solid burlywood;
    padding: 5px;
    text-align: justify;
    line-height: 2;
    border-radius: 8px;
    background-color: azure;

}
.going{
    display: flex;
}
.goes{
    margin-left: 50px;
    margin-top: 80px;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.image2{
    margin-top: 80px;
    margin-left: 50px;
    border-radius: 10px;
}



/* --------------menu------------------ */
.menu{
    padding-top: 130px;
}
.menu-img{
    width: 600px;
    height: 700px;
    align-items: center;
}
.box-container{
    display: flex;
    justify-content: center;
    gap: 20px;
}


.menu-items{
    margin-top: 50px;
    border: 1px solid rgb(101, 102, 101);
    padding: 40px;
   
    
}
.coff{
    color: white;
    padding-left: 40px;
}
.img-btn{
    margin-left: 40px;
    padding: 10px;
    background-color: palevioletred;
    color: black;
    border: none;
    cursor: pointer;
}


/* ------------------------contact----------------------- */
.contact{
    padding-top: 130px;
}

.contact-container{
    display: flex;
    margin-left: 200px;
}
.contact-right{
    margin-left: 70px;
    border: 1px solid gray;
    width: 100%;
    margin-right: 300px;
    padding: 20px;
    margin-bottom: 400px;
}
.name{
    width: 100%;
}
.submit-btn{
    margin-left: 40%;
    padding: 10px;
    width: 25%;
    background-color: aqua;
    color: black;
    border:none;
    
}

/* -------------------- */

.navbar-menu-toggle {
    color:rgb(231, 214, 214);
    display:none;
  }
  
  /* side navbar */
  
  .side-navbar {
    background-color: rgb(8, 1, 20);
    width: 50%;
    height: 500px;
    position: fixed;
    display: block;
    top:100%;
    left: -60%;
    padding: 20px;
    color: white;
    text-decoration: solid;
    transition: 1.5s;
    
  }
  
  .side-navbar a:hover,
  .side-navbar a:active{
     color:orangered;
     
  }
  
  
  .side-navbar-links{
   padding-left: 40px;
   
    color: white;
    display: none;
   
  }
  
  
/* ------------------login-------------------- */

















/* Responsive styles */


@media only screen and (max-width: 900px) {
    .header {
        padding: 20px 5%;
    }
    .logo {
        font-size: 18px;
    }
    .navbar a {
       display: none;
        font-size: 14px;
        margin: 0 15px;
    }
    .side-navbar{
     display: block;
    }
    
    .side-navbar-links{
     display: block;
    }
    .navbar-menu-toggle{
     display: block;
    }
    h3{
        font-size: 40%;
    }
}

@media screen and (max-width: 350px) {
    html{
        font-size: 40%;
    }
    body{
        font-size: 40%;
    }
    h3{
        font-size: 40%;
    }
    .header {
        padding: 1.5rem 2rem;
    }
}
@media screen and (max-width: 991px) {
    
}
     
